@use 'public/configurations/colors/colors.scss' as theme;

.profile-menu__point {
    display: flex;
    align-items: center;
    -webkit-filter: grayscale(0%);

    @media screen and (orientation:portrait) and (min-width: 438px),
    screen and (orientation:landscape) and (min-height: 438px) {
        width: 320px;
    }

    height: 59px;

    filter: none;
    cursor: pointer;

    padding-left: 25px;

    &:hover {
        background: theme.getColor('grey');
    }
}
