.profile-menu__point {
    display: flex;
    align-items: center;
    -webkit-filter: grayscale(0%);
    filter: none;
    padding-left: 25px;
    width: 320px;
    height: 59px;
    cursor: pointer;
}

.profile-menu__point:hover {
    background: #DEDEDE;
}
