@use 'public/configurations/colors/colors.scss' as theme;

.rest-menu {
  display: flex;
  // justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1500px;

  @media screen and (min-width: 1450px) {
    margin-right: 20%;
  }
}

.rest-menu__dish-icon {
  display: flex;
  flex-direction: column;
  position: relative;
  align-content: center;

  margin-right: 1%;
  margin-bottom: 1%;

  // @media screen and (min-width: 1450px) {
  //   margin-bottom: 70px;
  //   width: 270px;
  //   height: 480px;
  // }
  @media screen and (max-width: 815px) {
    margin: auto;
    margin-bottom: 24px;
    width: 343px;
  }

  height: 440px;

  background: theme.getColor('white');
  border-radius: 14px;
  filter: drop-shadow(0px 0px 12px rgba(26, 26, 26, 0.25));

  &:hover {
    filter: drop-shadow(0px 4px 4px rgba(26, 26, 26, 0.25));
  }
}

.dish-icon__img-block {
  height: 230px;
  padding-bottom: 40px;
}

.dish-icon__img {
  @media screen and (max-width: 1450px) {
    width: 343px;
  }

  @media screen and (min-width: 1450px) {
    width: 270px;
  }

  //margin-left: -7px;
  border-radius: 14px 14px 0 0;
}
