.prod-icon__meta-info-block {
    position: relative;
    display: flex;
    flex-direction: column;

    padding-left: 20px;
    padding-top: 30px;

    width: 210px;
    height: 170px;

    background: #FFFFFF;
}

.prod-icon__name {
    position: static;
    width: 460px;

    left: 0;
    top: 0;
    bottom: 44px;

    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 16px;

    display: flex;
    align-items: center;

    color: #2E2E33;
}

.prod-icon__calories-info {
    color: #DEDEDE;
    margin-top: 15px;
    margin-bottom: 10px;
}

.prod-icon__description {
    color: #DEDEDE;
}

.prod-icon__price-bar {
    position: absolute;
    width: 100%;
    display: flex;
    bottom: 10px;
    font-weight: bold;
}

.prod-icon__price-bar:first-child {
    margin-top: 5px;
}

.prod-icon__button-add-to-order {
    margin-left: auto;
    width: 87px;
    height: 28px;
    background-color: #17D685;
    border: none;
    border-radius: 6px;
    font-weight: bold;
}

.prod-icon__button-add-to-order:hover {
    cursor: pointer;
    opacity: 0.5;
}
