.uikit__button-add-remove {
    height: 40px;
    width: 40px;
    background: #F6F6F6;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    cursor: pointer;
}

.uikit__button-add-remove:hover {
    background: #DEDEDE;
}

.uikit__button-add-remove:active {
    background: #F6F6F6;
}
