.ordering-page {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-right: 22%;
}

.ordering-page__ordering-and-shop-cart-block {
  display: inline-flex;
  justify-content: space-between;
  margin-left: 70px;
}

.ordering-page__ordering-block {
  background: #FFFFFF;
  border: 1px solid #DEDEDE;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 30px 64px 0 64px;
}

.uikit__input-block:nth-child(n+4) {
  display: inline-block;
  margin-right: 62px;
}

.ordering-block__delivery-header {
  font-size: 20px;
  margin-bottom: 30px;
}

.ordering-block__comment-header {
  margin-top: 10px;
  margin-bottom: 5px;
}

.ordering-block__comment-block {
  height: 65px;
  width: 496px;
  border: none;
  border-radius: 6px;
  background: rgba(222, 222, 222, 0.3);
  resize: none;
  color: #212121;
  font-weight: bold;
  margin-bottom: 30px;
  padding: 10px;
  outline: none;
  display:flex;
  align-items: center;
  justify-content: center;
  word-break: break-all;
  overflow-y: auto;
  clear:both;
}

.ordering-block__comment-block:empty:before {
  content: attr(placeholder);
  color: grey;
}

.ordering-block__comment-block:empty:focus::before {
  content: "";
}

.ordering-block__order-header {
  font-size: 20px;
  margin-bottom: 5px;
}

.ordering-page__ordering-block:last-child {
  display: flex;
  flex-direction: column;
}

.ordering-page__shop-cart-block:last-child {
  display: flex;
  flex-direction: column;
}

.shopping-cart__rest {
  padding: 10px;
}

.shopping-cart__rest:first-child {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.shop-cart-block__payment-info {
  display: flex;
  font-weight: bold;
  margin-top: 10px;
}

.payment__price {
  margin-left: auto;
}

.shop-cart-block__payment-notify {
  margin-top: 30px;
}

.shop-cart-block__summary-payment {
  display: flex;
  font-weight: bold;
  margin-top: 30px;
  font-size: 20px;
}
