#ordering {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-right: 22%;
}

#ordering-and-nav-block {
  display: inline-flex;
  justify-content: space-between;
  margin-left: 70px;
}

#ordering-and-nav-block > div:first-child {
  background: #FFFFFF;
  border: 1px solid #DEDEDE;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 30px 64px 0px 64px;
}

#ordering-and-nav-block .input-block:nth-child(4) {
  display: inline-block;
  margin-right: 62px;
  width: 80px;
}

#ordering-and-nav-block .input-block:nth-child(5) {
  display: inline-block;
  margin-right: 62px;
  width: 80px;
}

#ordering-and-nav-block .input-block:nth-child(6) {
  display: inline-block;
  margin-right: 62px;
  width: 80px;
}

#ordering-and-nav-block .input-block:nth-child(7) {
  display: inline-block;
  width: 80px;
}

#ordering-and-nav-block #header {
  font-size: 20px;
  margin-bottom: 30px;
}

#ordering-and-nav-block #comment {
  margin-top: 10px;
  margin-bottom: 5px;
}

#ordering-and-nav-block #comment-block {
  height: 65px;
  width: 496px;
  border: none;
  border-radius: 6px;
  background: rgba(222, 222, 222, 0.3);
  resize: none;
  color: #212121;
  font-weight: bold;
  margin-bottom: 30px;
  padding: 10px;
  border: none;
  outline: none;
  display:flex;
  align-items: center;
  justify-content: center;
  word-break: break-all;
  overflow-y: auto;
  clear:both;
}

#ordering-and-nav-block #comment-block:empty:before {
  content: attr(placeholder);
  color: grey;
}

#ordering-and-nav-block #comment-block:empty:focus::before {
  content: "";
}

#ordering-and-nav-block #order-header {
  font-size: 20px;
  margin-bottom: 5px;
}

#ordering-and-nav-block > div:last-child {
  display: flex;
  flex-direction: column;
}

#ordering-rest {
  padding: 10px;
}

#ordering-rest > div {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

#ordering-and-nav-block .notify {
  display: flex;
  font-weight: bold;
  margin-top: 10px;
}

#ordering-and-nav-block .notify > div:last-child {
  margin-left: auto;
}

#ordering-and-nav-block #order-payment-notify {
  margin-top: 30px;
}

#ordering-and-nav-block #order-result {
  display: flex;
  font-weight: bold;
  margin-top: 30px;
  font-size: 20px;
}

#ordering-and-nav-block #order-result > div:last-child {
  margin-left: auto;
}
