@use 'public/configurations/colors/colors.scss' as theme;

@mixin flex-left () {
  display:flex;
  align-items: center;
}

@mixin comment-static-sets () {
  border: none;
  font-weight: bold;
  outline: none;
  word-break: break-all;
  overflow-y: auto;
  clear:both;
  resize: none;
}

.ordering-page__week-dish {
  position: absolute;
  width: 400px;
  height: 300px;
  left: 35%;
  top: 30px;

  z-index: 1;
}

.ordering-page {
  display: flex;
  flex-direction: column;

  height: 100%;

  @media screen and (orientation: landscape) and (min-width: 920px) {
    margin-right: 22%;
  }
}

.ordering-page__ordering-and-shop-cart-block {
  @media screen and (orientation: landscape) and (min-width: 920px) {
    display: inline-flex;
    justify-content: space-between;

    margin-left: 70px;
  }
}

.ordering-page__ordering-block {
  @media screen and (orientation: landscape) and (min-width: 920px) {
    padding: 30px 64px 0 58px;
    margin-right: 20%;
    box-sizing: border-box;

    height: 722px;

    border-radius: 10px;
    background: theme.getColor('white');
    border: 1px solid theme.getColor('grey');

    &:last-child {
      display: flex;
      flex-direction: column;
    }
  }
}

.input-block:nth-child(n+4):nth-child(-n+7) {
  display: inline-block;
}

.input-block:nth-child(-n+3) {
  margin-bottom: 13px;
}

.ordering-block__delivery-header {
  font-size: 20px;
  margin-bottom: 30px;
  font-weight: bold;

  @media screen and (orientation: landscape) and (min-width: 920px) {
    margin-top: 15px;
  }
}

.ordering-block__exact-address {
  display: flex;
  justify-content: space-between;

  @media screen and (orientation: portrait) and (max-width: 920px) {
    width: 250px;
    justify-content: space-between;
    flex-flow: wrap;

    > div {
      margin-right: 30px;
    }
  }

  @media screen and (orientation: landscape) and (min-width: 920px) {
    flex-direction: row;
  }
}

.ordering-block__input {
  margin-bottom: 20px;
}

.ordering-block__comment-header {
  margin-top: 15px;
  margin-bottom: 5px;
}

.ordering-block__comment-block {
  @include flex-left ();
  height: 65px;

  @media screen and (orientation: portrait) and (max-width: 920px) {
    max-width: 263px;
    padding: 10px 25px 10px 55px;
  }

  @media screen and (orientation: landscape) and (min-width: 920px) {
    max-width: 515px;
    padding: 10px 10px 10px 55px;
  }

  @include comment-static-sets ();

  border-radius: 6px;
  background: rgba(222, 222, 222, 0.3);
  color: theme.getColor('black');

  margin-bottom: 30px;

  &:empty:before {
    content: attr(placeholder);
    color: grey;
  }
  &:empty:focus::before {
    content: "";
  }
}

.ordering-block__order-header {
  font-size: 20px;
  margin-bottom: 15px;
  margin-top: 40px;
}

.ordering-page__shopping-cart {
  display: flex;
  flex-direction: column;

  @media screen and (orientation: portrait) and (max-width: 920px) {
    width: 100%;
    margin-left: auto;
  }

  @media screen and (orientation: landscape) and (min-width: 920px) {
    min-width: 360px;
    //margin-left: 20%;
  }

  margin-right: auto;
  text-align: center;
}

.shopping-cart_order-points {
  @media screen and (orientation:portrait) and (min-width: 438px),
  screen and (orientation:landscape) and (min-height: 438px) {
    min-width: 330px;
    max-height: 260px;
    min-height: 130px;

    overflow-x: hidden;
    overflow-y: scroll;
  }
  @media screen and (orientation:portrait) and (max-width: 438px),
  screen and (orientation:landscape) and (max-height: 438px) {
    min-width: 315px;
  }
}

.shopping-cart__space-block {
  height: 30px;
}

.shopping-cart__payment-info {
  display: flex;
  font-weight: bold;
  margin-top: 10px;
}

.payment-info__price {
  margin-left: auto;
}

.shopping-cart__payment-notify {
  margin-top: 30px;
}

.shopping-cart__summary-payment {
  display: flex;
  font-weight: bold;

  font-size: 24px;
  margin-top: 30px;

  @media screen and (orientation:portrait) and (max-width: 438px),
  screen and (orientation:landscape) and (max-height: 438px) {
    margin-bottom: 20px;
  }
}
