@use "public/configurations/colors/colors.scss" as theme;

.links_block__location {
  margin-top: 50px;
  margin-bottom: 50px;
}

.links-block__main-link {
  cursor: pointer;
  color: theme.getColor("greyBrown");
  font-size: 34px;
  //font-weight: 600;

  &:hover {
    border-radius: 14px;
    background: rgba(143, 138, 138, 0.2);
  }
}
