@use 'public/configurations/colors/colors.scss' as theme;

.links_block {
    margin-top: 50px;
    margin-bottom: 50px;
}

.links-block__main-link {
    cursor: pointer;
    color: theme.getColor('greyBrown');
    font-weight: 550;
    font-size: 36px;

    &:hover {
        font-weight: 600;
        border-radius: 14px;
        background: rgba(143, 138, 138, 0.2);
    }
}
