@use 'public/configurations/colors/colors.scss' as theme;

.links_block__location {
    @media screen and (orientation: landscape) and (max-width: 815px) {
        margin-top: 18px;
        margin-bottom: 24px;
    }

    @media screen and (orientation: portrait) and (min-width: 815px) {
        margin-top: 50px;
        margin-bottom: 50px;
    }
}

.links-block__main-link {
    cursor: pointer;
    color: theme.getColor('greyBrown');
    font-size: 34px;
    //font-weight: 600;

    &:hover {
        border-radius: 14px;
        background: rgba(143, 138, 138, 0.2);
    }
}
