@use "public/configurations/colors/colors.scss" as theme;

.create-comment-form {
  @media screen and (max-width: 920px) {
    margin-left: auto;
    margin-right: auto;
    min-width: 303px;
    max-width: 303px;

    padding: 20px 20px 25px 20px;

    height: 354px;
  }

  @media screen and (min-width: 920px) {
    width: 652px;
    padding: 20px 45px 25px 45px;

    height: 304px;
  }

  background: theme.getColor("white");
  border: 1px solid theme.getColor("grey");

  border-radius: 16px;

  &__title {
    font-size: 17px;
    line-height: 16px;
    font-style: normal;
    font-weight: 700;
  }

  &__textarea {
    all: unset;

    height: 156px;

    @media screen and (max-width: 920px) {
      min-width: 263px;
      max-width: 263px;
    }

    @media screen and (min-width: 920px) {
      width: 607px;
    }

    word-break: break-all;

    border: 1px solid theme.getColor("grey");
    border-radius: 10px;

    padding: 10px 20px 10px 20px;

    margin: 30px 0px 20px 0px;
  }

  &__bottom {
    display: flex;

    @media screen and (max-width: 920px) {
      display: block;
    }
  }

  &__stars-block {
    display: flex;

    @media screen and (max-width: 920px) {
      justify-content: center;
    }
  }

  &__star {
    width: 50px;
    height: 50px;
  }

  &__outlined-star {
    width: 50px;
    height: 50px;

    filter: invert(79%) sepia(0%) saturate(17%) hue-rotate(147deg)
      brightness(110%) contrast(99%);
  }

  &__star:hover {
    cursor: pointer;
  }

  &__button {
    margin-left: auto;

    @media screen and (max-width: 920px) {
      margin-top: 20px;
      width: 100%;
      height: 40px;
    }

    @media screen and (min-width: 920px) {
      width: 300px;
      height: 60px;
    }

    background-color: theme.getColor("primary");
    color: theme.getColor("black");
    border: none;
    border-radius: 16px;
    font-weight: bold;

    transition-duration: 0.25s;
  }

  &__button:hover {
    cursor: pointer;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  }
}
