@use 'public/configurations/colors/colors.scss' as theme;

.comments-block {
  display: inline-flex;
  background: theme.getColor('grey');

  border-radius: 16px;

  min-width: 160px;
  height: 33px;

  margin-bottom: 30px;

  &__value {
    display: flex;
    justify-content: center;
    margin: auto;

    font-size: 14px;
    line-height: 16px;
    font-style: normal;
    font-weight: 700;
  }

  &__img {
    margin-right: 5px;
  }
}

.comments-block:hover {
  cursor: pointer;
  opacity: 0.5;
}
