@use "public/configurations/colors/colors.scss" as theme;

.comments-block {
  display: inline-flex;
  background: theme.getColor("grey");

  border-radius: 16px;

  height: 33px;

  @media screen and (max-width: 540px) {
  }

  @media screen and (min-width: 540px) {
    min-width: 160px;
  }

  width: 270px;

  margin-bottom: 30px;

  transition-duration: 0.25;

  &:hover {
    cursor: pointer;
    box-shadow: 0 4px 4px rgb(0 0 0 / 25%);
  }

  &__value {
    display: flex;
    justify-content: center;
    margin: auto;

    font-size: 14px;
    line-height: 16px;
    font-style: normal;
    font-weight: 700;
  }

  &__img {
    margin-right: 5px;
  }
}
