.uikit__button-pay {
    width: 516px;
    height: 63px;
    background: #000000;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    justify-items: center;
}

.button-pay__block-img {
    display: inline-flex;
}

.button-pay__img {
    margin-top: 3px;
}

.button-pay__payment-separator {
    margin: auto 5px;
    background: #BEB6AE;
    width: 2px;
    height: 32px;
}
