@use "public/configurations/colors/colors.scss" as theme;

@mixin flex-center() {
  display: flex;
  justify-content: center;
  justify-items: center;
}

.button-pay {
  @include flex-center();

  height: 45px;
  min-width: 343px;
  min-height: 45px;

  margin-top: 40px;
  margin-bottom: 20px;

  border: none;
  border-radius: 14px;
  font-weight: bold;
  cursor: pointer;
  background: theme.getColor('primary');
  color: theme.getColor('black');
  transition-duration: 0.25s;

  &:hover {
    cursor: pointer;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  }
  &__text {
    text-align: center;
    margin: auto;
  }
}
