@use 'public/configurations/colors/colors.scss' as theme;

@mixin flex-center () {
    display: flex;
    justify-content: center;
    justify-items: center;
}

.button-pay {
    @include flex-center ();

    width: 516px;
    height: 63px;
    background: #000000;
    border-radius: 5px;

    margin-top: 40px;

    cursor: pointer;
}

.button-pay__block-img {
    display: inline-flex;
}

.button-pay__img {
    margin-top: 5px;
    width: 80%;
    height: 80%;
}

.button-pay__payment-separator {
    margin: auto 5px;
    background: theme.getColor('warm');
    width: 2px;
    height: 32px;
}
