#login-form {
    position: relative;
}

#login-form > h2 {
    margin-top: 0px;
    margin-bottom: 35px;
}

#login-form > img {
    position: absolute;
    height: 30px;
    width: 30px;
    top: 15px;
    right: 15px;
}

#login-form > img:hover {
    cursor: pointer;
    /* inverted #212121 */
    filter: invert(100%) sepia(0%) saturate(1569%) hue-rotate(174deg) brightness(106%) contrast(74%);
}

#login-form .property {
    margin-bottom: 44px;
}

#login-form #login-button {
    margin-top: 3px;
    margin-bottom: 19px;
}
