@use "ui-kit/import.scss" as uikit;
@use "components/import.scss" as components;
@use "public/configurations/colors/colors.scss" as theme;
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

html {
  overflow: auto;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  background: theme.getColor("lightGrey");
}

.root {
  width: 98vw;
  @media screen and (orientation: portrait) and (min-width: 438px),
    screen and (orientation: landscape) and (min-height: 438px) {
    height: 100vh;
  }
  @media screen and (orientation: portrait) and (max-width: 438px),
    screen and (orientation: landscape) and (max-height: 438px) {
    min-height: 100vh;
  }
}

main {
  position: absolute;
  top: 68px;
  padding-top: 1%;
  margin-left: 6%;
}

.shown {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100vh;

  @media screen and (min-width: 438px) {
    background-color: rgba(33, 33, 33, 0.7);
  }
  @media screen and (max-width: 438px) {
    background-color: theme.getColor("white");
  }
}

.modal-center > * {
  display: flex;
  flex-direction: column;

  padding: 30px;

  @media screen and (min-width: 438px) {
    border: none;
    border-radius: 14px;
    margin: auto;
  }

  background: theme.getColor("white");
}

.modal-right > * {
  display: flex;
  flex-direction: column;

  position: fixed;
  top: 68px;
  height: 96vh;

  border: none;
  background: theme.getColor("white");

  @media screen and (orientation: portrait) and (min-width: 438px),
    screen and (orientation: landscape) and (min-height: 438px) {
    right: 0;
    width: 400px;
  }
  @media screen and (orientation: portrait) and (max-width: 438px),
    screen and (orientation: landscape) and (max-height: 438px) {
    width: 100vw;
  }
}

.modal-top > * {
  margin: 68px auto auto auto;
  display: flex;
  flex-direction: column;
  padding: 0;
  border: none;
}

#notification {
  z-index: 9999;
  background: theme.getColor("white");
  position: fixed;

  @media screen and (orientation: portrait) and (max-width: 540px) {
    left: 15px;
    right: 15px;
    bottom: 15px;
  }

  @media screen and (orientation: landscape) and (min-width: 540px) {
    left: 42%;
    right: 58%;
    bottom: 50px;
  }
}
