@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

@import 'ui-kit/import.css';
@import 'components/import.css';

#loader.hidden {
    display: none;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background: #F6F6F6;
}

main {
    margin-top: 68px;
    padding-top: 1%;
    padding-left: 8%;
    padding-right: 8%;
}

#modal.shown {
    display: flex;
    position: fixed;
    top: 68px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 33, 33, 0.7);
}

#modal.modal-center > * {
    margin: auto;
    display: flex;
    flex-direction: column;
    padding: 30px;
    border: none;
    border-radius: 14px;
    background: #ffffff;
}

#modal.modal-right > * {
    display: flex;
    border: none;
    height: 90vh;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 0;
    background: #ffffff;
}

#modal.modal-top > * {
    margin: auto;
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    padding: 30px;
    border: none;
    border-radius: 14px;
    /* background: #ffffff; */
}
