@use 'public/configurations/colors/colors.scss' as theme;

.ordering-form__notification {
    display: flex;
    flex-direction: row;

    width: 321px;
    height: 62px;

    border-radius: 0 10px 10px 0;
}

.ordering-notification__not-free-delivery {
    background: rgba(255, 0, 0, 0.15);
}

.ordering-notification__not-free-delivery :first-child {
    width: 4px;
    background: #EE1212;
}

.ordering-notification__free-delivery {
    background: rgba(23, 177, 10, 0.19);
}

.ordering-notification__free-delivery :first-child {
    width: 4px;
    background: #17D685;
}

.ordering-notification__text {
    display: flex;
    align-items: center;

    width: 299px;

    font-size: 13px;
    line-height: 15px;
    color: map-get(theme.$COLORS, black);

    margin-left: 10px;
}
