.ordering-form__notification {
    width: 321px;
    height: 62px;

    display: flex;
    flex-direction: row;
    border-radius: 0 10px 10px 0;
}

.ordering-notification__not-free-delivery {
    background: rgba(255, 0, 0, 0.15);
}

.ordering-notification__not-free-delivery :first-child {
    background: #EE1212;
    width: 4px;
}

.ordering-notification__free-delivery {
    background: rgba(23, 177, 10, 0.19);
}

.ordering-notification__free-delivery :first-child {
    background: #17D685;
    width: 4px;
}

.ordering-notification__text {
    width: 299px;

    font-size: 13px;
    line-height: 15px;
    display: flex;
    align-items: center;
    margin-left: 10px;

    color: #000000;
}
