.notification {
    width: 321px;
    height: 62px;

    display: flex;
    flex-direction: row;
    border-radius: 0 10px 10px 0;
}

.not-free-delivery {
    background: rgba(255, 0, 0, 0.15);
}

.not-free-delivery > div:first-child {
    background: #EE1212;
    width: 4px;
}

.free-delivery {
    background: rgba(23, 177, 10, 0.19);
}

.free-delivery > div:first-child {
    background: #17D685;
    width: 4px;
}

.text-notification {
    width: 299px;
    height: 57px;
    left: 22px;
    top: 3px;

    font-size: 13px;
    line-height: 15px;
    display: flex;
    align-items: center;
    margin-left: 20px;

    color: #000000;
}
