//@mixin margin-left-in-main() {
//  @media screen and (orientation: portrait) and (min-width: 821px),
//  screen and (orientation: landscape) and (min-width: 821px) {
//    margin-left: 6%;
//  }
//  @media screen and (orientation: portrait) and (min-width: 438px) and (max-width: 820px) {
//    margin-left: calc((100% - 700px) / 2);
//  }
//  @media screen and (orientation: portrait) and (max-width: 438px),
//  screen and (orientation: landscape) and (max-height: 438px) {
//    margin-left: calc((100% - 343px) / 2);
//  }
//}

.promo-code-line {
  display: flex;
  flex-direction: row;
  overflow: hidden;

  max-width: 82vw;
  height: 160px;

  margin-top: 20px;
  margin-bottom: 20px;
  //@include margin-left-in-main();

  @media screen and (orientation: portrait) and (min-width: 821px) {
    overflow: hidden;
  }
  @media screen and (orientation: portrait) and (max-width: 820px) {
    overflow: auto;
    @media screen and (orientation: portrait) and (min-width: 438px),
      screen and (orientation: landscape) and (min-height: 438px) {
      width: calc(686px + 2%);
    }
    @media screen and (orientation: portrait) and (max-width: 438px),
      screen and (orientation: landscape) and (max-height: 438px) {
      width: 343px;
      max-width: 343px;
    }
  }
}
