.confirm-code-form {
  position: relative;
}

.confirm-code-form__close-img {
  position: absolute;
  height: 30px;
  width: 30px;
  top: 15px;
  right: 15px;
}

.confirm-code-form__close-img:hover {
  cursor: pointer;
  filter: invert(100%) sepia(0%) saturate(1569%) hue-rotate(174deg)
    brightness(106%) contrast(74%);
}

.confirm-code-form__title {
  margin-top: 0;
  margin-bottom: 35px;
}

.confirm-code-form__indication {
  margin-bottom: 40px;
}

.confirm-code-form__input {
  margin-bottom: 44px;
}

.confirm-code-form__button-confirm-code {
  margin-top: 3px;
  margin-bottom: 19px;
}
