@use 'public/configurations/colors/colors.scss' as theme;

.profile-template-form {
  display: flex;
  flex-direction: column;

  height: 100%;
  margin: 0 10.5% 25px 10%
}

.form__content-nav-block {
  display: inline-flex;
  justify-content: space-between;
}

.content-nav-block__content-block {
  width: 646px;
  height: 529px;

  box-sizing: border-box;
  border-radius: 10px;

  background: theme.getColor('white');
  border: 1px solid theme.getColor('grey');
}

.content-nav-block__navigation-block {
  display: flex;
  flex-direction: column;
  background: theme.getColor("white");
  border-radius: 5px;
  margin-left: 10%;
}
