@use 'public/configurations/colors/colors.scss' as theme;

.person-info-form {
    display: flex;
    flex-direction: column;

    height: 100%;
    margin-right: 10.5%;
    margin-left: 10%;
}

.person-info-form__sets-nav-block {
    display: inline-flex;
    justify-content: space-between;
}

.sets-nav-block__settings-block {
    width: 646px;
    height: 529px;

    box-sizing: border-box;
    border-radius: 10px;

    background: theme.getColor('white');
    border: 1px solid theme.getColor('grey');
}

.settings-block__profile-header {
    font-size: 20px;
    margin: 22px auto 13px 43px;
}

.settings-block__settings {
    margin: 22px 71px 24px 73px;
}


.settings__avatar-change-block {
    display: inline-flex;
    width: 100%;
}

.settings__avatar-change-block :nth-child(n) {
    margin-top: auto;
    margin-bottom: auto;
}

.avatar-change-block__description {
    width: 22%;
}

.avatar-change-block__avatar {
    display: inline-block;
    width: auto;
}

.avatar__img {
    width: 80px;
    height: 80px;

    border: 1px solid #BEB6AE;
    border-radius: 40px;
}

.avatar-choice-block__button-change {
    margin-right: 0;
    margin-left: auto;
}

.settings-block__input {
    margin-bottom: 15px;
    margin-top: 10px;
}

.settings-block__button-save-settings {
    text-align: center;
    margin-top: 43px;
}

.sets-nav-block__navigation-block {
    display: flex;
    flex-direction: column;
    background: theme.getColor("white");
    border-radius: 5px;
    margin-right: 10%;
}

.person-info-form__mail-notification {
    font-size: 22px;
    margin: 47px auto 27px 0;
}

.person-info-form input {
    width: 500px;
}
