@use 'public/configurations/colors/colors.scss'as theme;

.categories {
  display: flex;
  flex-wrap: wrap;
  // justify-content: space-between;
  max-width: 1500px;

  &__select {
    all: unset;

    display: flex;

    // margin-left: auto;
    // margin-right: auto;

    @media screen and (max-width: 768px) {
      margin-left: auto;
      margin-right: auto;
    }

    width: 80%;
    margin-bottom: 18px;
    background: theme.getColor('grey');
    padding: 12px 0px 12px 12px;
    border-radius: 12px;

    font-size: 14px;
    line-height: 16px;
    font-style: normal;
    font-weight: 700;
  }
}
