@use "public/configurations/colors/colors.scss" as theme;

.categories {
  display: flex;
  flex-wrap: wrap;
  max-width: 1500px;
  width: 70%;
  margin-bottom: 10px;

  &__select {
    all: unset;

    display: flex;

    width: 330px;
    margin-bottom: 30px;
    background: theme.getColor("grey");
    padding: 12px 0px 12px 12px;
    border-radius: 12px;

    font-size: 14px;
    line-height: 16px;
    font-style: normal;
    font-weight: 700;
  }
}
