.register-form {
    position: relative;
}

.register-form__close-img {
    position: absolute;
    height: 30px;
    width: 30px;
    top: 15px;
    right: 15px;
}

.register-form__close-img:hover {
    cursor: pointer;
    filter: invert(100%) sepia(0%) saturate(1569%) hue-rotate(174deg) brightness(106%) contrast(74%);
}

.register-form__title {
    margin-top: 0;
    margin-bottom: 35px;
}

.register-form__input {
    margin-bottom: 26px;
}

.register-form__button-register {
    margin-top: 37px;
    margin-bottom: 19px;
}
