@use "public/configurations/colors/colors.scss" as theme;

@mixin flex-center() {
  display: flex;
  justify-content: center;
  align-items: center;
}

.suggest-form {
  position: relative;
  width: 100%;

  &__suggest-row {
    height: 68px;
    display: flex;
  }

  &__suggest-empty {
    @media screen and (max-width: 1100px) {
      display: none;
    }

    @media screen and (min-width: 1100px) {
      @include flex-center();
    }

    flex: 1 1 auto;

    width: 160px;
    background: transparent;
  }

  &__suggest-address {
    @media screen and (max-width: 1100px) {
      display: block;
    }

    @media screen and (min-width: 1100px) {
      @include flex-center();
    }

    flex: 30 1 auto;
    cursor: pointer;

    width: 160px;

    font-weight: bold;

    background: theme.getColor("white");
    border-bottom: 1px solid #b9b9b9;
    border-left: 1px solid #b9b9b9;
    border-right: 1px solid #b9b9b9;

    transition-duration: 0.25s;

    &:hover {
      background: theme.getColor("grey");
    }

    @media screen and (max-width: 1100px) {
      padding: 18px;
    }
  }
}
