@use 'public/configurations/colors/colors.scss' as theme;

@mixin flex-center () {
  display: flex;
  justify-content: center;
  align-items: center;
}

.suggest-form {
  position: relative;
  width: 100%;
}

.suggest-form__suggest-row {
  height: 68px;
  display: flex;

  div {
    @include flex-center ();
    flex: 1 1 auto;
    cursor: pointer;

    min-width: 161px;
    background: transparent;
  }
}

.suggest-row__suggest-address {
  flex: 30 1 auto !important;

  font-weight: bold;

  background: theme.getColor('white') !important;
  border-bottom: 1px solid #b9b9b9;
  // border-left: 1px solid #b9b9b9;
  // border-right: 1px solid #b9b9b9;

  &:hover {
    background: theme.getColor('grey') !important;
  }
}
