.suggest-form {
  position: relative;
  width: 100%;
  padding: 0 /*!important*/;
  border-radius: 0 /*!important*/;
}

.suggest-form__suggest-row {
  height: 68px;
  display: flex;
}

.suggest-form__suggest-row:nth-child(n) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 1 auto;
  cursor: pointer;
  min-width: 159px;
  background: transparent;
}

.suggest-form__suggest-address {
  font-weight: bold;
  background: #ffffff /*!important*/;
  flex: 30 1 auto /*!important*/;
  border-bottom: 1px solid #b9b9b9;
  border-left: 1px solid #b9b9b9;
  border-right: 1px solid #b9b9b9;
}

.suggest-form__suggest-address:hover {
  background: #dedede /*!important*/;
}
