@use "public/configurations/colors/colors.scss" as theme;

@mixin paddings() {
  padding-left: 20px;
  padding-right: 20px;
}

.dish-icon__meta-info-block {
  display: flex;
  flex-direction: column;

  @media screen and (max-width: 438px) {
    width: 334px;
  }

  @media screen and (min-width: 438px) {
    width: 270px;
  }

  @media screen and (min-width: 1450px) {
    height: 50%;
  }
}

.dish-icon__name {
  display: flex;
  overflow: hidden;
  text-overflow: ellipsis;

  @include paddings();

  font-style: normal;
  font-weight: bold;
  font-size: 21px;

  margin-top: 15px;

  color: #2e2e33;
}

@media (-webkit-min-device-pixel-ratio: 0) {
  .dish-icon__name {
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    -webkit-box-orient: vertical;
  }
}

.dish-icon__calories-info {
  color: #c3c3c3;
  margin-top: 10px;
  margin-bottom: 10px;

  @include paddings();

  font-size: 14px;
}

.dish-icon__description {
  display: flex;
  overflow: hidden;
  text-overflow: ellipsis;

  @include paddings();
  font-size: 14px;
  color: theme.getColor("warm");
}

@media (-webkit-min-device-pixel-ratio: 0) {
  .dish-icon__description {
    display: -webkit-box;
    -webkit-line-clamp: 3; /* number of lines to show */
    -webkit-box-orient: vertical;
  }
}

.dish-icon__price-bar {
  display: inline-flex;
  text-align: center;
  position: absolute;

  @include paddings();

  width: 90%;
  font-weight: bold;
  bottom: 15px;

  @media screen and (min-width: 1450px) {
    margin-right: 15px;
  }

  :nth-child(1) {
    width: 40%;
    text-align: left;
    margin-top: auto;
    margin-bottom: auto;
  }
}

.dish-icon__button-add-to-order {
  margin-left: auto;
  width: 87px;
  height: 28px;
  background-color: theme.getColor("primary");
  color: theme.getColor("black");
  border: none;
  border-radius: 6px;
  font-weight: bold;

  margin-right: 10px;

  transition-duration: 0.25s;
}

.dish-icon__button-add-to-order:hover {
  cursor: pointer;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
