@use 'public/configurations/colors/colors.scss' as theme;

@mixin grey-color () {
  color: #BEB6AE;
}

@mixin align-left () {
  text-align: left;
}

.order-info {
  display: flex;
  flex-direction: column;

  max-width: 700px;
  max-height: 650px;
}

.order-info__status-block > div {
  margin-top: auto;
  margin-bottom: auto;
}

.order-info__status-block {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  justify-items: center;
  text-align: center;

  max-width: 700px;
  max-height: 65px;

  width: 698px;
  height: 65px;

  padding-left: 5px;

  font-size: 20px;
  font-weight: 500;
  border: 1px solid theme.getColor('grey');
}

.order-info__order-number {
  width: 70px;
  @include align-left ();
  @include grey-color ();
}

.order-info__rest-name {
  width: 140px;
  @include align-left ();
}

.order-info__order-date {
  width: 140px;
  @include grey-color ();
}

.order-info__order-price {
  width: 100px;
  @include align-left ();
}

.order-info__status {
  display: flex;
  flex-direction: row;
  width: 180px;
}

.status__img {
  width: 22px;
  height: 22px;
  border-radius: 11px;
  margin-right: 5px;

  &_in-processing {
    background: #F66628;
    @extend .status__img;
  }
  &_cooking {
    background: #FF9F47;
    @extend .status__img;
  }
  &_in-way {
    background: #EEFF2B;
    @extend .status__img;
  }
  &_received {
    background: #7EE340;
    @extend .status__img;
  }
}

.status__text {
  @include grey-color ();
}

.order-info__move-controller {
  width: 50px;
  height: 100%;

  padding-right: 10px;
}

.buttonOpenClose {
  width: 33px;
  cursor: pointer;

  margin-bottom: auto;
  margin-top: 25%;
}

.order-info__order-block {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-height: 583px;
}
