.rest_meta_information_block {
    display: flex;
    flex-direction: column;

    padding-left: 20px;
    padding-top: 30px;

    width: 248px;
    height: 60px;

    background: #FFFFFF;
}

.rest_name {
    position: static;
    width: 460px;

    left: 0;
    top: 0;
    bottom: 44px;

    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 16px;

    display: flex;
    align-items: center;

    color: #2E2E33;
}

.meta_buttons_block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 248px;
    height: 28px;
}

.meta_stat {
    display: flex;
    flex-direction: row;
    align-items: center;

    min-width: 58px;
    height: 18px;
    padding: 6px 14px 6px 12px;

    background: #F6F6F6;
    border-radius: 50px;

    margin: 20px 5px;
}

.parameters {
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    margin: auto;
    display: flex;
    justify-content: center;
}

.parameters > span.rating {
    margin-left: 5px;
}
