@use "public/configurations/colors/colors.scss" as theme;

.ordering-form__payment-choice-block {
  margin-bottom: 15px;
}

.payment-choice-block__payment-types-block {
  @media screen and (orientation: portrait) and (min-width: 438px),
    screen and (orientation: landscape) and (min-height: 438px) {
    display: inline-block;
  }
  @media screen and (orientation: portrait) and (max-width: 438px),
    screen and (orientation: landscape) and (max-height: 438px) {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  &:first-child {
    font-weight: bold;
  }
}

.payment-types-block__payment-type {
  display: inline-block;

  border-radius: 50px;
  background: theme.getColor("lightGrey");

  @media screen and (orientation: portrait) and (min-width: 438px),
    screen and (orientation: landscape) and (min-height: 438px) {
    padding: 5px 10px;
  }
  @media screen and (orientation: portrait) and (max-width: 438px),
    screen and (orientation: landscape) and (max-height: 438px) {
    padding: 10px;
  }

  transition-duration: 0.25s;

  &:not(:first-child) {
    margin-left: 10px;
  }
  &:hover {
    background: theme.getColor("grey");
  }
}
