.ordering-form__payment-choice-block {
    margin-bottom: 15px;
}

.payment-choice-block__payment-types-block {
    display: inline-block;
}

.payment-choice-block__payment-types-block:first-child {
    margin-bottom: 15px;
    font-weight: bold;
}

.payment-types-block__payment-type {
    background: #F6F6F6;
    border-radius: 50px;
    padding: 5px 10px;
    display: inline-block;
}

.payment-types-block__payment-type:not(:first-child) {
    margin-left: 10px;
}

.payment-types-block__payment-type:hover {
    background: #DEDEDE;
}
