@use "public/configurations/colors/colors.scss" as theme;

.form-title {
  margin-bottom: 35px;

  @media screen and (orientation: portrait) and (max-width: 920px) {
    max-width: 343px;
  }

  @media screen and (orientation: landscape) and (min-width: 920px) {
    max-width: 500px;
    margin-top: -20px;
  }
}

.form-title__title-name {
  @media screen and (orientation: portrait) and (max-width: 920px) {
    font-size: 24px;
    margin-bottom: 10px;
  }

  @media screen and (orientation: landscape) and (min-width: 920px) {
    font-size: 36px;
    margin-bottom: 20px;
  }

  color: theme.getColor("greyBrown");
}
