@use "public/configurations/colors/colors.scss" as theme;

.rest-menu {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  margin-right: 30%;
}

.rest-menu__product-icon {
  display: flex;
  flex-direction: column;
  //flex-wrap: wrap;

  align-content: center;
  margin-bottom: 70px;

  width: 270px;
  height: 440px;

  background: theme.getColor("white");
  border-radius: 14px;
  filter: drop-shadow(0px 0px 12px rgba(26, 26, 26, 0.25));

  &:hover {
    filter: drop-shadow(0px 4px 4px rgba(26, 26, 26, 0.25));
    cursor: pointer;
  }
}

.product-icon__img {
  width: 240px;
  height: 230px;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;

  border-radius: 14px 14px 0 0;
}
