.rest-menu {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-right: 30%;
}

.rest-menu__product-icon {
  margin-bottom: 70px;
}

.rest-menu__product-icon {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  align-content: center;

  width: 270px;
  height: 440px;

  background: #FFFFFF;
  border-radius: 14px;
  filter: drop-shadow(0px 0px 12px rgba(26, 26, 26, 0.25));
}

.rest-menu__product-icon:hover {
  filter: drop-shadow(0px 4px 4px rgba(26, 26, 26, 0.25));
  cursor: pointer;
}

.product-icon__img {
  width: 270px;
  height: 230px;
  border-radius: 14px 14px 0 0;
}
