@use 'public/configurations/colors/colors.scss' as theme;

.status-preview {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 430px;
  height: 170px;

  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;

  background: theme.getColor('white');
}

.status-preview__preview {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
}

.preview__img {
  width: 35px;
  height: 35px;
  border-radius: 17.5px;
  margin-right: 5px;

  &_in-processing {
    background: #F66628;
    @extend .preview__img;
  }
  &_cooking {
    background: #FF9F47;
    @extend .preview__img;
  }
  &_in-way {
    background: #EEFF2B;
    @extend .preview__img;
  }
  &_received {
    background: #7EE340;
    @extend .preview__img;
  }
}

.preview__annotation {
  font-size: 20px;
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
}
