@mixin flex-left-center () {
  display: flex;
  justify-content: left;
  align-items: center;
}

.back-button {
  cursor: pointer;
  font-weight: bold;

  @include flex-left-center ();

  margin-bottom: 10px;
  margin-top: 25px;
}

.back-button__img {
  margin-right: 10px;
}
