@mixin flex-left-center () {
  display: flex;
  justify-content: left;
  align-items: center;
}

.back-button {
  cursor: pointer;
  font-weight: bold;

  @include flex-left-center ();

  @media screen and (max-width: 540px) {
    margin-left: auto;
    margin-right: auto;
    width: 343px;
  }

  @media screen and (min-width: 540px) {
    width: 200px;
  }

  margin-bottom: 10px;
  margin-top: 25px;
}

.back-button__img {
  margin-right: 10px;
}
