@use 'public/configurations/colors/colors.scss' as theme;

.mail-notification__switcher-block {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end; /*flex-end*/
    cursor: pointer;

    max-width: 61px;
    height: 29px;
    border-radius: 25px;

    padding-left: 4px;
    padding-right: 4px;
    padding-inline-end: 2px;
    padding-inline-start: 2px;

    background: #777373;
}

.switcher-block__moving-ball {
    width: 25px;
    height: 25px;

    border-radius: 50%;
    background: theme.getColor('white');
}
