.input-block__title {
    margin-bottom: 4px;
}

.input-block__input {
    all: unset;
    height: 30px;
    /*width: 100%;*/
    border: none;
    border-bottom: 2px solid #DEDEDE;
    color: #212121;
    font-weight: bold;
}

.input-block__input:focus-visible {
    border: none;
    border-bottom: 2px solid #212121;
}

.input-block__input.error {
    border-bottom: 2px solid #FF3985;
}

.input-block__input-underline.error {
    color: #FF3985;
    margin-top: 2px;
}

.hidden {
    visibility: hidden;
}
