@use "public/configurations/colors/colors.scss" as theme;

.shopping-cart {
  display: flex;
  flex-direction: column;
  position: relative;

  @media screen and (max-width: 1000px) {
    width: 100%;
  }

  @media screen and (min-width: 1000px) {
    width: 400px;
  }

  height: 100%;

  background: theme.getColor("white");
  border: 1px solid theme.getColor("grey");
  box-sizing: border-box;
}

.shopping-cart__preview-rest {
  // width: 60%;
  max-width: 365px;

  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.shopping-cart__info-about-rest {
  margin-left: auto;
  margin-right: auto;
  max-width: 350px;
  padding: 10px;
}

.shopping-cart__order-points {
  @media screen and (orientation: portrait) and (min-width: 438px),
    screen and (orientation: landscape) and (min-height: 438px) {
    height: 85.3%;
  }
  @media screen and (orientation: portrait) and (max-width: 438px),
    screen and (orientation: landscape) and (max-height: 438px) {
    height: 800px;
  }
  width: 365px;
  overflow-y: auto;
  overflow-x: hidden;
  margin-right: auto;
  margin-left: auto;

  &::-webkit-scrollbar {
    display: none;
  }
}

.shopping-cart__button-order {
  position: static;
  margin: auto;
  margin-bottom: 50px;
}
