@use 'public/configurations/colors/colors.scss' as theme;

.shopping-cart {
    display: flex;
    flex-direction: column;
    position: relative;

    @media screen and (orientation: portrait) and (max-width: 920px) {
        width: 100%;
    }

    @media screen and (orientation: landscape) and (min-width: 920px) {
        width: 321px;
    }

    height: 100%;

    background: theme.getColor('white');
    border: 1px solid theme.getColor('grey');
    box-sizing: border-box;
}

.shopping-cart__preview-rest {
    @media screen and (orientation: portrait) and (max-width: 920px) {
        width: 100%;
    }

    @media screen and (orientation: landscape) and (min-width: 920px) {
        width: 60%;
        max-width: 312px;
    }

    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.shopping-cart__info-about-rest {
    @media screen and (orientation: portrait) and (max-width: 920px) {
        margin-left: auto;
        margin-right: auto;
    }

    @media screen and (orientation: landscape) and (min-width: 920px) {
        padding: 10px;
        margin-left: 4px;
    }
}

.shopping-cart__order-points {
    height: 800px;
    width: 314px;
    overflow-y: auto;
    overflow-x: hidden;
    margin-right: auto;
    margin-left: auto;

    &::-webkit-scrollbar {
        display: none;
    }
}

.shopping-cart__button-order {
    position: absolute;
    left: 5px;
    right: auto;
    bottom: 5px;

    @media screen and (orientation: portrait) and (max-width: 920px) {
        position: static;
        margin: auto;
        margin-bottom: 30px;
    }
}
