.shopping-cart-form {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 322px;
    height: 100%;
    background: #FFFFFF;
    border: 1px solid #DEDEDE;
    box-sizing: border-box;
}

.shopping-cart__order-point:first-child div {
    width: 80%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 312px;
}

.shopping-cart__info-about-rest {
    padding: 10px;
}

.shopping-cart__button-order {
    position: absolute;
    right: auto;
    left: 10px;
    bottom: 5px;
}
