.shopping-cart__order-point {
    margin: 5px auto;
    display: inline-flex;
    width: 292px;

    background: #FFFFFF;
    border: 1px solid #DEDEDE;

    border-radius: 10px;
    padding: 10px 5px 10px 15px;
}

.order-point__img-block {
    width: 13%;
}

.order-point__dish-img {
    height: 28px;
    width: 28px;
    margin-top: 2px;
}

.order-point__main-block {
    display: flex;
    flex-direction: column;
    width: 87%;
}

.order-point__dish-info {
    display: inline-flex;
}

.order-point__dish-info :nth-child(1) {
    width: 70%;
}

.order-point__dish-info :nth-child(2) {
    text-align: right;
    width: 30%;
}

.order-point__ingredients {
    display: inline-flex;
    margin-top: 5px;
    margin-bottom: 15px;
    color: #DEDEDE;
}

.order-point__edit-quantity {
    display: inline-flex;
}

.order-point__count-current-point {
    margin: auto 20px;
}
