@use "public/configurations/colors/colors.scss" as theme;

.notification {
  min-height: 62px;

  display: flex;

  filter: drop-shadow(4px 4px 4px rgba(26, 26, 26, 0.25));

  @media screen and (max-width: 540px) {
    width: 100%;
  }

  @media screen and (min-width: 540px) {
    width: 343px;
  }

  border-radius: 10px;

  &_error {
    background: theme.getColor("warning");
  }

  &_success {
    background: theme.getColor("primary");
  }

  &__message {
    font-size: 16px;
    line-height: 16px;
    font-style: normal;
    font-weight: 700;

    margin-left: 28px;

    margin-top: auto;
    margin-bottom: auto;
    text-align: left;

    max-width: 230px;

    word-wrap: break-word;

    color: #ffffff;
  }

  &__close-img {
    padding: 16px;

    transition-duration: 0.25s;

    margin-left: auto;
  }

  &__close-img:hover {
    cursor: pointer;
    filter: invert(100%) sepia(0%) saturate(1569%) hue-rotate(174deg)
      brightness(106%) contrast(74%);
  }
}
