@use 'public/configurations/colors/colors.scss' as theme;

@mixin flex-center () {
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-header {
    display: flex;
    position: fixed;
    justify-content: space-between;
    top: 0;
    left: 0;

    width: 100%;
    height: 68px;

    z-index: 1;
    font-weight: bold;
    border-bottom: 1px solid #b9b9b9;

    &__color-white {
        background: theme.getColor('white');
    }
    &__color-grey {
        background: theme.getColor('grey');
    }
}

.searchActivatedAria {
    width: 90%;
}

.page-header__button {
    @include flex-center ();
    flex: 1 1 auto;
    cursor: pointer;

    border-left: 1px solid #b9b9b9;
    border-right: 1px solid #b9b9b9;

    @media screen and (orientation: portrait) and (max-width: 920px) {
        width: 80px;
        flex-direction: column;
    }

    @media screen and (orientation: landscape) and (min-width: 920px) {
        width: 160px;
    }
}

.page-header__button:nth-child(n+1) {
    margin-left: -1px;
}

.page-header__main-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.main-button__img {
    height: 24px;
}

.main-button__controller {
    margin-left: 3px;
}

.page-header__back-button {
    max-width: 190px;

    & a {
        margin-top: auto;
        margin-bottom: auto;
        margin-left: 20px;
    }
}

.button__controller {
    @media screen and (orientation: landscape) and (min-width: 920px) {
        margin-left: 10px;
    }

    &_with-price {
        font-size: 17px;
        color: #000000;
        //color: #323232;

        @media screen and (orientation: landscape) and (min-width: 920px) {
            margin-left: 15px;
        }
    }
}

.page-header__button-search {
    flex: 30 1 auto;
}

.page-header__suggests-input {
    all: unset;

    @media screen and (orientation: portrait) and (max-width: 920px) {
        width: 170px;
    }

    @media screen and (orientation: landscape) and (min-width: 920px) {
        width: 500px;
        margin-left: 15px;
    }
}

.button__avatar-img {
    width: 30px;
    height: 30px;
    cursor: pointer;

    border-radius: 15px;
    border: 1px solid theme.getColor('warm');
}

.page-header__button-cart {
    &_green {
        background: #17d685;

        @media screen and (orientation: portrait) and (max-width: 920px) {
            width: 80px;
        }

        @media screen and (orientation: landscape) and (min-width: 920px) {
            min-width: 160px;
        }
    }

    @media screen and (orientation: portrait) and (max-width: 920px) {
        width: 80px;
    }

    @media screen and (orientation: landscape) and (min-width: 920px) {
        min-width: 160px;
    }
}

.search-block {
    display: flex;
    flex-direction: row;

    margin-top: 14px;
    margin-left: 33px;

    max-width: 1300px;
    max-height: 50px;

    border-radius: 20px;
    background: theme.getColor('white');
}

.search-block__img {
    max-width: 65px;
    text-align: center;
}

.block-img__image {
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.search-block__input-block {
    width: 100%;
}

.input-block__input {
    width: 100%;
}
