header {
    border-bottom: 1px solid #b9b9b9;
    height: 68px;
    display: flex;
    font-weight: bold;
}

header > div {
    position: relative;
    flex: 1 1 auto;
}

header > #search {
    flex: 5 1 auto;
    border-left: 1px solid #b9b9b9;
    border-right: 1px solid #b9b9b9;
}

header > div > * {
    position: absolute;
    top: 50%;
    left: 50%;
    /*-webkit-transform: translate(-50%, -50%);*/
    transform: translate(-50%, -50%);
}
