header {
    border-bottom: 1px solid #b9b9b9;
    height: 68px;
    display: flex;
    font-weight: bold;
}

header > div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 auto;
    cursor: pointer;
}

header > #search {
    flex: 30 1 auto;
    border-left: 1px solid #b9b9b9;
    border-right: 1px solid #b9b9b9;
}

header > div > a {
    margin-left: 10px;
}
