.page-header {
    position: fixed;
    top: 0;
    left: 0;
    background: #ffffff;
    border-bottom: 1px solid #b9b9b9;
    height: 68px;
    width: 100%;
    display: flex;
    font-weight: bold;
    z-index: 1;
}

.page-header__button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 auto;
    cursor: pointer;
    border-left: 1px solid #b9b9b9;
    border-right: 1px solid #b9b9b9;
    min-width: 159px;
}

.page-header__button:nth-child(n+1) {
    margin-left: -1px;
}

.button__controller {
    margin-left: 10px;
}

.page-header__button-search {
    flex: 30 1 auto;
}

.page-header__avatar {
    width: 30px;
    height: 30px;
    border: 1px solid #BEB6AE;
    border-radius: 15px;
}

.page-header__button-cart {
    min-width: 160px;
}
